@using EntityLayer.Concrete
@model List<PricingTables>
<div class="wrap" id="pricing">
    <div class="grid grid-pad">
        <div class="content">
            <div class="col-1-1">
                <section id="price-tables">
                    <h2>Fiyatlarımız</h2>
                    <ul id="plans">
                        @foreach (var item in Model)
                        {
                        <li class="plan">
                            <ul class="plan-wrap">
                                <li class="title"><h2>@item.PricingTablesName</h2></li>
                                <li class="price"><p>@item.Price$</p></li>
                                <li>
                                    <ul class="options">
                                        <li>@item.Storage GB <span>Storage</span></li>
                                        <li>2 <span>Clients</span></li>
                                        <li>@item.ActiveProjects <span>Active Projects</span></li>
                                        <li><span>Free Goodies</span></li>
                                        <li>@item.EmailSupport <span>Email support</span></li>
                                    </ul>
                                </li>
                                <li><a class="btn btn-price" href="#0">Purchase</a></li>
                            </ul>
                        </li>
                        }

                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>